body{
  font-family: Arial, sans-serif;
}

nav{
  text-align: right;
}
.menu-item{
  font-size: 13px;
color: rgba(0, 0, 0, 0.87);
text-decoration: none;
padding-right: 10px;
position: relative;
top: -8px;
}

.menu-item:hover{
  text-decoration: underline;

}

#app-icon{
  width: 20px;
height: 20px;
padding-right: 13px;
position: relative;
top: -4px;
}

#profile-pic{
  width: 32px;
height: 32px;
padding-right: 10px;
}